.carousel-control-prev{
    max-width: 40px;
    height: 40px;
    margin: auto;
    margin-left: 20px;
    border-radius: 10px;
}

.carousel-control-next{
    max-width: 40px;
    height: 40px;
    margin: auto;
    margin-right: 20px;
    border-radius: 10px;
}
.carousel{
    margin-top: 88px;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block !important;
}
.card {
	margin-bottom: 20px;
	text-align: center;
    border: none;
	transition: all 0.5s;
}
.content{
    text-align: center;
}
h1{
    margin-bottom: 30px;
}
.card:hover {
	background-color: #ccc;
}
@media (max-width: 688px) {
    .carousel-item>img {
        max-height: 146px;
    }
}